# Servidor
PORT=3000

# Base de datos SQLite (Prisma ORM)
DATABASE_URL="file:./dev.db"

# Autenticación
JWT_SECRET="reemplazar_con_una_clave_secreta_segura_de_32_caracteres"
JWT_EXPIRES_IN="7d"

# Proveedor de Inteligencia Artificial (IA)
# Habilita el que desees utilizar cargando su respectiva API Key.
GEMINI_API_KEY=""
OPENAI_API_KEY=""
